@{
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>BoasVindas</title>
    <link href="~/Media/Css/main.css" rel="stylesheet" />
</head>
<body>
    <h1 style="text-align:center; font-size:36px; font-family:'Trebuchet MS';padding-top:5px;">Seja Bem Vindo!</h1>
    <span>
        @Html.ViewBag.MsgErro
        @Html.ViewBag.Msg
    </span>
    <div>
        <table cellspacing="20">
            <tr>
                <td class="menu" id="lnkInicio" ><a href="/Agenda/CadastrarCompromisso">Cadastrar Compromisso</a></td>
            </tr>
            <tr>
                <td class="menu" id="lnkInicio"><a href="/Agenda/ListarCompromissos">Listar Compromissos</a></td>
            </tr>
        </table>
    </div>

    <br /><br />

    <div>
        <table>
            <thead><tr><td></td></tr></thead>
            <tbody id="trContainer"></tbody>
        </table>
    </div>
        <tfoot><tr><td> </td></tr></tfoot>


    <script src="~/Media/Script/jquery-2.1.4.min.js"></script>
    @if (false)
    {
        <script src="~/Media/Script/jquery-2.1.4-vsdoc.js"></script>
    }
    <script src="~/Media/Script/script.js"></script>

</body>
</html>