@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>BoasVindas</title>
    <link href="~/Media/Css/main.css" rel="stylesheet" />
    <script src="~/Media/Script/jquery-2.1.4.min.js"></script>

    <script>

        $(document).ready(
            function () {
                $.getJSON(
                    '@Url.Content("~/Agenda/retornaCompromissos")',
                        { qtd: 5 },
                        function (data) {
                            $("#trContainer").html('');

                            if (data.length == 0) {
                                $("#trContainer").append('<tr><td><h2>Sem compromissos futuros</h2></td></tr>');
                            } else {
                                $.each(data, function (index) {
                                    var d = new Date(parseInt(data[index].DataCompromisso.substr(6))),
                                        tag = '<tr><td class="tdCompromisso">' +
                                                    '<div id="tituloCompromisso"><b>Título:</b> ' + data[index].Titulo + '</div>' +
                                                    '<div id="dataCompromisso"><b>Data:</b> ' + d.toLocaleString() + '</div>' +
                                                    '<div id="DescricaoCompromisso"><b>Descrição:</b> ' + data[index].Descricao + '</div>' +
                                                    '<div id="participantesCompromisso"><b>Participantes:</b><br> ';
                                    $.getJSON(
                                        '@Url.Content("~/Agenda/retornaParticipantes")',
                                        { evento: data[index].AgendaId },
                                        function (val) {
                                            $.each(
                                                val,
                                                function (ind) {
                                                    tag += '<div class="divParticipante">' + val[ind].Nome + '</div>';
                                                })
                                            $("#trContainer").append(tag + '</div>' + '</td></tr>');
                                        });
                                });
                            }
                        });
            });

    </script>

</head>
<body>
    <main class="box">
        <h1 class="bg-title">Seja Bem Vindo!</h1>

        <header class="area-titulo">
            <ul class="header-link">
                <li class="titulo-link">
                    <a href="/Agenda/CadastrarCompromisso">Cadastrar Compromisso</a>
                </li>
                <li class="titulo-link">
                    <a href="/Agenda/ListarCompromissos">Listar Compromissos</a>
                </li>
                <li class="titulo-link">
                    <a href="/Home/Index">Sair</a>
                </li>
            </ul>
        </header>
        <section class="area-texto">
            <span class="msg">
                @Html.ViewBag.MsgErro
                @Html.ViewBag.Msg
            </span>
            <div>
                <table cellspacing="20">
                    <tr>
                        <td class="menu" id="lnkInicio"></td>
                    </tr>
                    <tr>
                        <td class="menu" id="lnkInicio"></td>
                    </tr>

                </table>
            </div>

            <div>
                <table>
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="trContainer"></tbody>
                    <tfoot>
                        <tr>
                            <td> </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </section>
    </main>


    <!-- Arquivos JavaScript -->
    @if (false)
    {
    <script src="~/Media/Script/jquery-2.1.4-vsdoc.js" defer></script>
    }

    @*<script src="~/Media/Script/exbircompromissos.js" defer></script>*@

</body>
</html>