@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>ListarCompromissos</title>
    <link href="~/Media/Css/main.css" rel="stylesheet" />

</head>
<body>
    <main class="box">
        <header class="area-titulo">
            <h1 class="titulo">Compromissos</h1>
        </header>
        <section class="area-texto">
            <span class="msg">
                @Html.ViewBag.MsgErro
                @Html.ViewBag.Msg
            </span>

            <div>
                <table>
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody id="trContainer"></tbody>
                    <tfoot>
                        <tr>
                            <td> </td>
                        </tr>
                    </tfoot>
                </table>
            </div>
            <button class="botao" type="submit">Compartilhar</button>
        </section>
        <footer class="rodape">
            @Html.ActionLink("Voltar", "BoasVindas", null, new { @class = "link" })
        </footer>
    </main>

    <!-- Arquivos JavaScript -->
    @if (false)
    {
        <script src="~/Media/Script/jquery-2.1.4-vsdoc.js" defer></script>
    }
    <script src="~/Media/Script/jquery-2.1.4.min.js" defer></script>
    <script src="~/Media/Script/exbircompromissos.js" defer></script>

</body>
</html>