@{
    ViewBag.Title = "ListarCompromissos";
}

<h2>ListarCompromissos</h2>



<div>

    <ul>
        <li>Aqui Aparecerão todos os compromissos que foram cadastrados</li>
        <li>2 Aqui Aparecerão todos os compromissos que foram cadastrados</li>
        <li>3 Aqui Aparecerão todos os compromissos que foram cadastrados</li>
        <li>4 Aqui Aparecerão todos os compromissos que foram cadastrados </li>
        <li>5 Aqui Aparecerão todos os compromissos que foram cadastrados </li>
        <li>6 Aqui Aparecerão todos os compromissos que foram cadastrados</li>
        <li>7 Aqui Aparecerão todos os compromissos que foram cadastrados</li>
        <li>8 Aqui Aparecerão todos os compromissos que foram cadastrados</li>
    </ul>
    
</div>


